.btn-pp{
    font-size: 10px;
}

.link{
    color: black;
}

.padre{
    position: relative;
    
}

.padre span{
    position: absolute;
    width: 40%;
    height: 60%;
    bottom: 0;
    left: 1;
    right: 0;
    top: 1;
    padding: 10px;
    color: #fff;    
}
